# Logs
logs
*.log

# ENVS
.env
# Personal
organize_faculty.py
faculty_organized.csv
page-35-year-china-batch-website
decrypt_tool.html
AddLineTocode.py

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.eslintcache

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# OSX
.DS_Store

release/app/dist
release/build
.erb/dll
RentMaster Website/Cpanel
dist

.idea
npm-debug.log.*
*.css.d.ts
*.sass.d.ts
*.scss.d.ts
release/build (2).zip
release/build PROduction.zip
release/build (3).zip
release/build (4).zip
release/build (1).zip

release/build.zip
