.AgreementMainContianer {
  background-color: var(--Secondary-Color30);
  padding: var(--5px-V);
  border-radius: var(--5px-V);
  margin: var(--5px-V);
  overflow-y: auto;
}
.AgreementNavigationButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.AgreementPopUpContainer {
  width: var(--450px-V);
  height: var(--500px-V);
  border-radius: var(--5px-V);
  background-color: var(--Background-Color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--15px-V);
  justify-content: space-between;
}
.AgreementPopUpContainer h2 {
  margin: var(--0px-V);
  margin-bottom: var(--10px-V);
}
.AgreementPopUpContainerOpacity {
  background-color: #000000a9;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
.PopOutContainerAgreement {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
