.CalanderMainContainer {
  background-color: var(--Background-Color);
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  border-radius: var(--10px-V);
  box-shadow: var(--2px-V) var(--2px-V) var(--6px-V) var(--2px-V) rgba(104, 104, 104, 0.2);
  border: var(--1px-V) solid grey;
  padding: var(--5px-V);
  margin: var(--10px-V);
  color: var(--Text-Color);
  height: calc(100% - var(--34px-V));
}
.CalenderOptionsMainContainer {
  display: flex;
  align-items: center;
  gap: var(--10px-V);
  padding: var(--10px-V);
  background-color: var(--Secondary-Color20);
  border-radius: var(--5px-V);
  justify-content: center;
}
.CalenderContainer {
  height: 100%;
}
.DashboardWigetMainContainer {
  width: var(--710px-V);
  align-items: flex-start;
  color: var(--Text-Color);
}

.DashboardWigetPieChartTextHeader {
  width: var(--710px-V);
  color: var(--Text-Color);
}

.DashboardTotalCollectedTopPart {
  margin-bottom: var(--20px-V);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--10px-V);
  background-color: var(--Secondary-Color20);
  border-radius: var(--8px-V);
  box-shadow: 0 var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.1);
}

.ShowByContainer {
  margin-right: var(--20px-V);
  color: var(--Text-Color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ShowByLabel {
}

.ShowBySelect {
  color: var(--Text-Color);
  background-color: var(--Secondary-Color);
  padding: var(--5px-V) var(--10px-V);
  border-radius: var(--4px-V);
  border: var(--1px-V) solid grey;
}

.YearInputContainer {
  display: flex;
  align-items: center;
  color: var(--Text-Color);
}

.YearLabel {
}

.YearInput {
  color: var(--Text-Color);
  background-color: var(--Secondary-Color);
  padding: var(--5px-V) var(--10px-V);
  border-radius: var(--4px-V);
 
  border: var(--1px-V) solid grey;
  width: var(--80px-V);
}

.TotalLabel {
  margin-right: var(--10px-V);
}

.TotalValue {
  margin-right: var(--20px-V);
}

.DifferenceLabel {
  margin-right: var(--10px-V);
}

.DifferenceValue {
  color: var(--Accent-Color);
  font-weight: 600;
}

.DifferenceValueNegative {
  color: var(--Text-Color-Grey);
}
