.DashboardWigetMainContainer {
  background-color: var(--Secondary-Color30);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--10px-V);
  /* box-shadow: var(--2px-V) var(--2px-V) var(--6px-V) var(--2px-V) rgba(104, 104, 104, 0.2); */
  /* border: var(--1px-V) solid grey; */
  padding: var(--5px-V);
  margin: var(--10px-V);
  color: var(--Text-Color);
}
.DashboardWigetPieChartText {
  color: var(--Text-Color);
  font-size: var(--16px-V);
  width: 100%;
  padding-left: var(--40px-V);
  padding-top: 0;
  padding-bottom: var(--0px-V);
}
.DashboardWigetPieChartTextHeader {
  color: var(--Text-Color);
  font-size: var(--24px-V);
  width: var(--400px-V);
  text-align: center;
}
.DashboardTotalCollectedTopPart {
  display: flex;
  flex-direction: row;
}
