.DashboardWigetMainContainer {
    background-color: #2e2f30;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px #68686833;
    border: 1px solid grey;
    padding: 5px;
}
.DashboardWigetPieChartText {
    color: white;
    font-size: 18px;
    width: 100%;
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 0px;

}
.DashboardWigetPieChartTextHeader {
    color: white;
    font-size: 35px;
}