.image-interactor {
  position: relative;
  width: var(--480px-V);
  margin: 0 auto;
}

.image-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DeleteImageOnImageIntercator {
  position: absolute;
  margin-left: var(--350px-V);
  margin-bottom: var(--370px-V);
}
.ExplorerImageOnImageIntercator {
  position: absolute;
  margin-right: var(--350px-V);
  margin-top: var(--440px-V);
}
.FullScreenImageOnImageIntercator {
  position: absolute;
  margin-left: var(--305px-V);
  margin-top: var(--440px-V);
}
.AddImageOnImageIntercator {
  position: absolute;

  margin-top: var(--440px-V);
}
.CounterImageOnImageIntercator {
  position: absolute;

  margin-top: var(--390px-V);
}
.image-wrapper {
  width: var(--400px-V);
  height: var(--400px-V);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128 128 128 / 0.12);
  border-radius: var(--10px-V);
  overflow: hidden;
  padding: var(--5px-V);
  padding-bottom: var(--40px-V);
}

.main-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: var(--5px-V);
}

.arrow-button {
  background: rgba(0 0 0 / 0);
  border: none;
  cursor: pointer;
  padding: var(--10px-V);
  transition: background 0.3s ease;
}

.arrow-button:hover {
  background: rgba(0 0 0 / 0);
  border: none;
}

.arrow-button img {
  width: var(--20px-V);
  height: var(--20px-V);
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: var(--10px-V);
}

.image-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;    max-width: var(--390px-V);
}

.counter-bar {
  width: var(--20px-V);
  height: var(--4px-V);
  background-color: grey;
  margin: 0 var(--2px-V);
  transition: background-color 0.3s ease;
}

.counter-bar.active {
  background-color: var(--Text-Color);
}

.no-images {
  text-align: center;
  padding: var(--20px-V);
}

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.fullscreen .image-wrapper {
  width: 80vw;
  height: 80vh;
}
