.navigation {
  background-color: var(--Secondary-Color20);
  height: var(--60px-V);
  box-sizing: border-box;
  align-items: center;
  margin: var(--0px-V);
  display: flex;
  width: 100%;
  box-shadow: var(--3px-V) var(--3px-V) var(--5px-V) var(---1px-V)
    var(--Background-Color2);

  justify-content: space-between;
  flex-direction: row;
}

.LogoImage {
  width: var(--50px-V);
  min-width: var(--50px-V);
  height: var(--50px-V);
  margin-left: var(--5px-V);
  margin-right: var(--5px-V);

  border-radius: var(--7px-V);
}
.LogoImageEdit {
  width: var(--50px-V);
  min-width: var(--50px-V);
  height: var(--50px-V);
  margin-left: var(--5px-V);
  margin-right: var(--5px-V);
  border: var(--1px-V) solid #000;
  border-radius: var(--7px-V);
  background: #1d1d1d;
  opacity: 0.5;
}
.Name-ofShop {
  width: auto;
  height: var(--50px-V);

  min-width: 560;
  font-size: var(--30px-V);
  color: var(--Text-Color);

  border-radius: var(--5px-V);
  padding-left: var(--5px-V);
  font-weight: bolder;
  border-radius: var(--7px-V);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  align-items: center;
  margin: 0;
}
.CurrentTime {
  text-align: right;
  color: rgb(255, 255, 255);

  font-size: var(--25px-V);
  font-weight: bolder;
  color: var(--Text-Color);
  text-align: center;

  font-size: var(--24px-V);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: var(--0px-V);
}
.CurrentTimeSmall {
  text-align: right;
  color: rgb(255, 255, 255);

  font-size: var(--25px-V);
  font-weight: bolder;
  color: var(--Text-Color);
  text-align: center;

  font-size: var(--14px-V);
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: var(--0px-V);
}
.CurrentTimeContainer {
  width: var(--80px-V);
  height: var(--50px-V);
  border-radius: var(--13px-V);
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-right: var(--15px-V);

  display: flex;
  flex-direction: column;
}
.RightSide {
  display: flex;
  justify-content: right;
  align-items: center;
}
.Name-ofShop-input {
  width: var(--500px-V);
  height: var(--50px-V);

  min-width: 560;
  font-size: var(--30px-V);
  color: var(--Text-Color);
  border: var(--1px-V) solid #ffffff;
  background: #1d1d1d4d;
  border-radius: var(--5px-V);
  padding-left: var(--5px-V);
  font-weight: bolder;
  border-radius: var(--7px-V);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.lockicon {
  width: var(--57px-V);
  position: relative;
  bottom: var(--2px-V);
}
.lockContiner {
  width: var(--50px-V);
  height: var(--50px-V);
  border-radius: var(--13px-V);
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-right: var(--15px-V);
}
.AdminAccountIndicator {
  color: rgb(0, 0, 0);
  margin-right: var(--10px-V);
  font-size: large;
  font-weight: 700;
  width: var(--0px-V);
}

.adminandemploeeyicons {
  width: var(--40px-V);
  height: var(--40px-V);
  position: relative;
  left: var(--27px-V);
  top: var(--14px-V);
  z-index: 1;
}
.TrialExpire {
  color: var(--Text-Color);
  background-color: rgb(0, 0, 0);
  border-radius: var(--7px-V);
  height: var(--45px-V);
  width: var(--239px-V);
  max-width: var(--240px-V);
  text-align: center;
  border-bottom: var(--2px-V) solid red;
  border-left: var(--2px-V) solid red;
  border-top: var(--2px-V) solid red;
  border-right: var(--2px-V) solid red;
  margin-left: var(--10px-V);
}
.LeftSide {
  display: flex;
  justify-content: left;
  align-items: center;
}

.SaveButtonLong {
  max-width: var(--140px-V);
  width: var(--140px-V);
  height: var(--50px-V);
  background-color: #1e1f28;
  border-radius: var(--7px-V);
  padding: var(--0px-V);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--15px-V);
  border: var(--1px-V) solid black;
  margin-left: var(--10px-V);
}

.SaveButtonicon {
  width: var(--35px-V);
  position: relative;
  margin-right: var(--5px-V);
  border: var(--7px-V);
}
.TopPageNavigatorContainer {
  display: flex;
}
.PageNavigatorButton,
.PageNavigatorButtonSelected {
  width: var(--90px-V);
  height: var(--35px-V);
  font-size: var(--14px-V);
  margin: var(--5px-V);
  transition: all 0.2s;
}

.PageNavigatorButton {
  border-radius: 5px;
  border: 1px solid var(--Secondary-Color);
  background: var(--Background-Color);
  color: var(--Text-Color);
  cursor: pointer;
}

.PageNavigatorButtonSelected {
  width: var(--120px-V);
  font-size: var(--16px-V);
  border-top: var(--2px-V) solid var(--Primary-Color);
}

.PageNavigatorButtonSelected:hover {
  border-top: var(--2px-V) solid var(--Primary-Color);
}
.progress-bar {
  height: var(--5px-V);
  background-color: #00e1ff;
  /* border-bottom: var(--1px-V) dashed #00e1ff; */
  width: 0;
  box-shadow: var(--0px-V) var(--6px-V) var(--7px-V) #00000045;
  transition: width 0.3s ease;
  border-radius: var(--5px-V);
  /* margin-left: var(--5px-V); */
  /* margin-right: var(--5px-V);*/
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
}
.AdvancedUploadPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: var(--230px-V);
  position: absolute;
  margin-right: var(--180px-V);
  top: var(--45px-V);
  background-color: var(--Background-Color);
  border-radius: var(--10px-V) var(--0px-V) var(--10px-V) var(--10px-V);
  box-shadow: 0 var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.1);
  padding: var(--10px-V);
  z-index: 2;
}
.AdvancedUploadButtons {
  width: 100%;
}
.AdvancedUploadButtonsUploadButton {
  margin-top: var(--10px-V);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.AdvancedUploadButtonsButtonText {
}
.AdvancedUploadButtonsProgressText {
}
