.MainContainer {
  margin: 5px;
  width: 557px;
  height: 151px;
  min-width: 536px;
  min-height: 151px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;

  transition: all 0.2s;
  user-select: none;
}
.FirstLine {
  height: 100%;
  width: 35%;
}
.FloorText {
  background-color: var(--Secondary-Color);
  height: 25px;
  width: 100px;
  font-size: 20px;
  margin: 0px;
  padding-left: 5px;
  display: flex;
  justify-content: left;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  border-bottom: 1px solid white;
  color: var(--Text-Color);
}
.RoomText {
  background-color: var(--Secondary-Color);
  height: 35px;
  font-size: 30px;
  color: var(--Text-Color);
  margin: 0px;
  padding-left: 5px;
  display: flex;
  justify-content: left;
  border-radius: 0px 10px 10px 10px;
  align-items: center;
}
.StatusContainer {
  background-color: var(--Secondary-Color);
  height: 81px;
  font-size: 18px;
  color: var(--Text-Color);
  margin: 0px;
  margin-top: 10px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  align-items: top;
  text-align: center;
}
.StatusText {
  margin: 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.SecondLine {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
.ThirdLine {
  width: 30%;
}
.RoomTypeContainer {
  background-color: var(--Secondary-Color);
  height: 120px;
  font-size: 20px;
  color: var(--Text-Color);
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px 10px 0px 0px;
  align-items: top;
  text-align: center;
  flex-direction: column;
  border-bottom: 1px dashed white;
}
.RoomImageContainer {
  background-color: var(--Secondary-Color);
  height: 145px;
  font-size: 20px;
  color: var(--Text-Color);
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.RoomTypeContainerBottom {
  background-color: var(--Secondary-Color);
  height: 20px;
  font-size: 20px;
  margin: 0px;
  padding-top: 5px;
  color: var(--Text-Color);
  display: flex;
  justify-content: flex-start;
  border-radius: 0px 0px 10px 10px;
  align-items: top;
  text-align: center;
  flex-direction: column;
}
.RoomTypeContainertext {
  font-size: 15px;
  margin: 0px;
  text-align: left;
  padding-left: 5px;
}

.PriceContainer {
  background-color: var(--Secondary-Color);
  height: 25px;
  width: 100%;
  font-size: 17px;
  color: var(--Text-Color);
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.ChangePriceButtonContianer {
  background-color: var(--Secondary-Color);
  height: 25px;
  margin-right: 10px;
  width: 20%;
  font-size: 17px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 10px;
}
.ChangePriceButton {
  max-width: 10px;
  max-height: 10px;
}
.PriceMainContainer {
  width: 90%;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}
.PopOutContainer {
  width: 0;
  position: relative;
  top: 180px;
  left: -536px;
  z-index: 1;
}
.AddTenantContainerinner {
  width: 280px;
  height: 260px;
  background: var(--Background-Color);
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  border-radius: 0px 10px 10px 10px;
  color: var(--Text-Color);
  align-content: space-between;
  transition: all 0.3s;
  border: 1px solid white;
  border-top: 1px dashed white;
  flex-direction: column;
}
.ViewAgreementContainer {
  width: 280px;
  height: 260px;
  background: var(--Background-Color);
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  border-radius: 10px;
  color: var(--Text-Color);
  align-content: space-between;
  transition: all 0.3s;
  border: 1px solid rgb(255, 255, 255);
  flex-direction: column;
  user-select: text;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 2px 2px 6px 2px #68686833;
}
.AddTenantContainerinnerInput {
  width: 140px;
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  box-shadow: 2px 2px 2px lab(0 0 0 / 0.21);
  color: var(--Text-Color);
  border-radius: 5px;
}
.StartTime {
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  box-shadow: 2px 2px 2px lab(0 0 0 / 0.21);
  border-radius: 5px;
  color: var(--Text-Color);
}
.Agreementtype {
  border-radius: 5px;
  box-shadow: 2px 2px 2px lab(0 0 0 / 0.21);
  background-color: var(--Secondary-Color);
  color: var(--Text-Color);
}
.AddTenantContainerinnerElement {
  margin-bottom: 5px;
}
.AddTenantButton {
  width: 80px;
  height: 30px;
}
.PayAndDueShowerContainer {
  background-color: var(--Secondary-Color);
  height: 110px;
  width: 90%;
  font-size: 17px;
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  margin-top: 10px;
  align-items: center;
  color: var(--Text-Color);
  border: 1px dashed deepskyblue;
}
.PaymentCardContianer {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.PaymentCard {
  background-color: #1e1f28;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  color: var(--Text-Color);
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}
.Show-button-Pay {
  width: 100px;
  height: 40px;
}
.TimeLineMainContaner {
  background: var(--Background-Color);
    z-index: 1;
    transition: all 0.2s;
    border-radius: 5px;
    /* border: 1px solid black; */
    padding: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    color: var(--Text-Color);    border: 1px solid grey;
}
.TabsContainerForTenantAdding {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.ButtonTabsContainerForTenantAdding {
  width: 40%;
  display: flex;
  border-radius: 0px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px lab(0 0 0 / 0.21);
  border-bottom: 1px solid var(--Primary-Color);
  background-color: var(--Secondary-Color);
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: var(--Text-Color);
}
.TenantRow {
  box-shadow: 2px 2px 2px lab(0 0 0 / 0.21);
  width: 260px;
  height: 40px;
  padding-left: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: var(--Secondary-Color);
  border-radius: 5px;
  color: var(--Text-Color);
}
.TenantRow:hover {
}
.TenantLeavePannelOpacity {
  background-color: #000000a9;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.TenantLeavePannelScreen {
  width: 50%;
  height: 95%;
  background-color: var(--Background-Color);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}
/*/*/
.UtilityPriceInput {
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  box-shadow: 2px 2px 2px lab(0 0 0 / 0.21);
  border-radius: 5px;
  color: var(--Text-Color);
}
.UtilityPriceInputDisabled {
  background-color: var(--Secondary-Color);
  color: var(--Text-Color-Grey);
}
.UtilityPriceInputDisabled:hover {
  background-color: var(--Secondary-Color);
  color: var(--Text-Color-Grey);
}