.MainContainer {
  margin: 5px;
  width: 536px;
  height: 151px;
  min-width: 536px;
  min-height: 151px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #dadada;
  transition: all 0.2s;
}
.FirstLine {
  height: 100%;
  width: 35%;
}
.FloorText {
  background-color: gray;
  height: 25px;
  width: 100px;
  font-size: 20px;
  margin: 0px;
  padding-left: 5px;
  display: flex;
  justify-content: left;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
  border-bottom: 1px solid black;
}
.RoomText {
  background-color: gray;
  height: 35px;
  font-size: 30px;

  margin: 0px;
  padding-left: 5px;
  display: flex;
  justify-content: left;
  border-radius: 0px 10px 10px 10px;
  align-items: center;
}
.StatusContainer {
  background-color: gray;
  height: 81px;
  font-size: 18px;

  margin: 0px;
  margin-top: 10px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 10px 10px;
  align-items: top;
  text-align: center;
}
.StatusText {
  margin: 0px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.SecondLine {
  width: 35%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
}
.ThirdLine {
  width: 30%;
}
.RoomTypeContainer {
  background-color: gray;
  height: 120px;
  font-size: 20px;
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px 10px 0px 0px;
  align-items: top;
  text-align: center;
  flex-direction: column;
  border-bottom: 1px dashed black;
}
.RoomTypeContainerBottom {
  background-color: gray;
  height: 20px;
  font-size: 20px;
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  border-radius: 0px 0px 10px 10px;
  align-items: top;
  text-align: center;
  flex-direction: column;
}
.RoomTypeContainertext {
  font-size: 15px;
  margin: 0px;
  text-align: left;
  padding-left: 5px;
}

.PriceContainer {
  background-color: gray;
  height: 25px;
  width: 100%;
  font-size: 17px;
  margin: 0px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.ChangePriceButtonContianer {
  background-color: gray;
  height: 25px;
  margin-right: 10px;
  width: 20%;
  font-size: 17px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 10px;
}
.ChangePriceButton {
  max-width: 10px;
  max-height: 10px;
}
.PriceMainContainer {
  width: 100%;
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}
.AddPersonContainer {
  width: 0;
  position: relative;
  top: 180px;
  left: -536px;
}
.AddPersonContainerinner {
  width: 280px;
  height: 260px;
  background: rgb(99, 99, 99);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  border-radius: 10px;
  padding-top: 10px;
  color: white;
  align-content: space-between;
  transition: all 0.3s;
}
.AddPersonContainerinnerInput {
  width: 140px;
}
.AddPersonContainerinnerElement {
  margin-bottom: 5px;
}
.AddPersonButton {
  width: 80px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
/*/*/
