.RoomContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.RoomContainerContainer {
  overflow-y: auto;
}
.SideBarContainer {
  width: 290px;
  border-top: 1px solid grey;
  background-color: var(--Secondary-Color20);
  color: var(--Text-Color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px -1px var(--Text-Color);
}
.MainContainerMain {
  width: 100%;
  display: flex;
  height: 100%;
}
.SecondNavBarContainer {
  background-color: var(--Background-Color);

  border-radius: 5px;
  height: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.TenantSearchBarContainer {
}
.SearchBarContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 136px;
  color: var(--Text-Color);
  width: 100%;
  flex-direction: column;
}
.RoomAndFloorContainer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  justify-content: flex-start;
}
.FloorSearchBar {
  width: 50px;
  height: 25px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: var(--Secondary-Color);
  font-size: 15px;
  color: var(--Text-Color);
  border: 1px solid grey;
}
.TenantSearchBar {
  width: 140px;
  height: 25px;
  background-color: var(--Secondary-Color);
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid grey;
  color: var(--Text-Color);
}
.RoomSearchBar {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background-color: var(--Secondary-Color);
  font-size: 15px;
  color: var(--Text-Color);
  border: 1px solid grey;
}
.sort-button-img {
  width: 35px;
  transition: all 0.2s;

  border-radius: 10px;
}

.sort-button-img-Flip {
  width: 35px;
  transform: scaleY(-1);
  transition: all 0.2s;
  background-color: black;
  border-radius: 10px;
}
.sort-drop {
  margin: 0;
  width: 107px;
  height: 35px;
  left: -10px;
  position: relative;
  padding-right: 0px;
  border-radius: 5px;
  background: lightgrey;
  padding-left: 1px;
  background-color: var(--Secondary-Color);
  border: none;
  border-left: none;
  color: lab(100 0 -0.03);
}
.sort-button {
  margin-left: 10px;
  width: 50px;
  height: 50px;

  border-radius: 5px;
  background-color: var(--Secondary-Color) 00;
  font-weight: bolder;

  border-right: none;
}
.filter-drop {
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  color: var(--Text-Color);
  border-radius: 5px;
}
.AdvanceRoomFinding {
  width: 100%;
  color: var(--Text-Color);
  display: flex;
  flex-direction: column;
}
.AdvanceRoomFindingInput {
  width: 70px;
  height: 30px;
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  border-radius: 5px;
  color: var(--Text-Color);
}
.AdvanceRoomFindingINPUTCONTAINER {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FilterOptions {
  display: flex;
  position: absolute;
  top: 67px;
  width: 1300px;
  align-items: center;
  color: var(--Text-Color);
  font-size: 14px;
  justify-content: center;
}
.BottomNavBarMain {
  width: 100%;

  height: 1px;
  display: flex;
  justify-content: center;
}
.BottomNavBar {
  height: 45px;
  position: relative;
  bottom: 125px;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px #00000073;
  width: 320px;
  background-color: var(--Secondary-Color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.SideBarRoomPageTopPart {
  width: 100%;
  overflow: hidden auto;
}
.SideBarRoomPageBottomPartAddRoom {
  background-color: var(--Background-Color);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4509803922);
  
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  transition: all .2s;
}
.AddANewRoomInputsSmall {
  width: 60px;
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  color: var(--Text-Color);
  border-radius: 5px;
}
.AddANewRoomSelectMid {
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  color: var(--Text-Color);
  border-radius: 5px;
}
.AddANewRoomInputsMid {
  width: 120px;
  background-color: var(--Secondary-Color);
  border: 1px solid grey;
  color: var(--Text-Color);
  border-radius: 5px;
}
.AddANewRoomSpecObjectMainContainer {
  background-color: var(--Secondary-Color);
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 5px;
}
.RoomSpecficationsMainContainer {
  background-color: rgba(128, 128, 128, 0.12);
  padding: 10px;
  padding-top: 5px;
  border-radius: 5px;
}
.AddARoomImageMainContainer {
  background-color: rgba(128, 128, 128, 0.12);
  padding: 10px;
  padding-top: 5px;
  border-radius: 5px;
  margin-top: 10px;
  height: 200px;
}
.HorizontalButton {
  border-radius: 5px;
  padding: 5px;
  background-color: var(--Secondary-Color);
  color: var(--Text-Color);

  margin-bottom: 5px;
  transition: all 0.2s;
  width: 90%;
  height: 25px;
  display: flex;
  justify-content: center;
}
.AddaNewRoomBottomContianer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-top: 1px solid white;
  border-radius: 5px;
  padding-top: 5px;
  width: 100%;
  /* height: 100px; */
  padding-top: 15px;
  /* margin-top: 30px; */
  justify-content: flex-end;
}
.AddaNewRoomRowObject {
  margin-bottom: 10px;
  display: flex;
}

/**/
.EditRoomScreenMainContainer {
  width: 750px;
  height: 540px;
  background-color: var(--Background-Color);
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.EditRoomScreenMainContainerOpacity {
  background-color: #000000a9;

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/**/
.sideBarItemComponentMain {
  width: 95%;

  background-color: var(--Secondary-Color);
  margin: 5px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 5px;
  transition: all 0.2s;
  border-radius: 5px;    padding: 8px;
  font-size: 18px;
}
.sideBarItemComponentMainSelected {
  width: 95%;

  background-color: var(--Primary-Color25);
  margin: 5px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.2s;    padding: 8px;
  font-size: 18px;
}
.sideBarItemComponentMain:hover {
  border: 1px solid white;
}
.NotificationButton {
  height: 35px;
  position: relative;
  bottom: 125px;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4509803922);
  margin-top: 5px;
  margin-left: 5px;
  width: 35px;
  background-color: var(--Secondary-Color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.notification-panel {
  height: 555px;
  color: var(--Text-Color);
  position: absolute;
  bottom: 60px;
  left: 472px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4509803922);
  width: 320px;
  background-color: var(--Secondary-Color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-bottom: 1px dashed grey;
  justify-content: flex-start;
}
.SideBarTopContainer {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}
.SideBarTopButton {
  flex:1;
  height: 52px;
  margin: 10px;
}
.SideBarShowButton {
  height: 25px;
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  transition: all 0.2s;
  visibility: visible;
}

.table-container {
  width: 100%;
  border-collapse: collapse;

  color: var(--Text-Color);
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table-header {
  background-color: var(--Secondary-Color);
  
}

.table-header th {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-header input {
  background-color: #3c3c3c;
  color: #e0e0e0;
  border: none;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}

.table-body tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.11);
}

.table-body tr:nth-child(odd) {
  background-color: rgba(224, 224, 224, 0.06);
}

.table-body td {
  padding: 10px 15px;
  border-bottom: 1px solid #3c3c3c;
}

.table-body input {
  background-color: #3c3c3c;
  color: #e0e0e0;
  border: none;
  padding: 5px;
  border-radius: 3px;
  width: 100%;
}

.delete-button {
  background-color: #d32f2f;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
}
.appUserItemContainer{
  background-color: var(--Secondary-Color30);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}
.appUserItem {
  width: 350px;
  background-color: var(--Secondary-Color30);
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 3px -1px var(--Text-Color);
  padding: 5px;
}
.appUserItemM {
  background-color: var(--Secondary-Color60);

}.appUserItem {
  margin-bottom: 20px;

  padding: 10px;
}
.appUserButtons {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: var(--Primary-Color);
  color: var(--Text-Color-Reverse);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
.appUserHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.appUserHeader span {
}
.privilege-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}
.privileges-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

.privilege-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.privilege-item input[type="checkbox"] {
  margin-right: 5px;
}