.SignUpMainContainer {
    width: auto;
    height: auto;
    background: var(--Secondary-Color20);
    border-radius: var(--8px-V);
   
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--0px-V) var(--4px-V) var(--4px-V) var(--0px-V) rgba(0, 0, 0, 0.25);

    padding: var(--20px-V);
}
.UtitlityButton-Icon-Height {
  width: var(--25px-V);
  height: var(--25px-V);
  transition: all 0.2s;
}
.UtitlityButton-Icon-Height :active {
  width: var(--25px-V);
  transition: all 0.2s;
  height: var(--20px-V);
}
.main-Container {
  width: var(--400px-V);
  /* height: var(--490px-V); */
  padding-bottom: var(--30px-V);
  padding-top: var(--10px-V);
  /* margin-top: var(---80px-V); */
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--5px-V);
  /* border: var(--1px-V) solid rgba(0, 0, 0, 0.192); */
  /* box-shadow: var(--5px-V) var(--5px-V) var(--5px-V) rgb(0 0 0 / 20%); */
  transform: scale(1.2);
  /*box-shadow: var(--0px-V) var(--4px-V) var(--4px-V) var(--0px-V) rgba(0, 0, 0, 0.25);*/
}
.image-main-container {
  margin-bottom: var(--10px-V);
  display: flex;
}

.AccountButtonText {
  padding-left: var(--10px-V);
  margin-bottom: var(--0px-V);
}
.AccountButton {
  margin-left: var(--10px-V);
  margin-right: var(--10px-V);
  transition: all 0.2s;
}
.AccountButton-Selected {
  margin-left: var(--10px-V);
  margin-right: var(--10px-V);
  transition: all 0.2s;
  border: var(--1px-V) solid #00e1ff;
}
.login-text {
  font-size: var(--40px-V);
  font-weight: 300;
  margin-bottom: var(--0px-V);
}
.login-text2 {
  font-size: var(--30px-V);
  font-weight: 200;

  margin-bottom: var(--0px-V);
  margin-top: var(--0px-V);
}
.userName-input {
  height: var(--30px-V);

  /* border-radius: var(--35px-V); */
  padding-left: var(--5px-V);
  width: 90%;
  margin-bottom: var(--13px-V);

  transition: all 0.5s;
  outline: none;
  position: relative;
  left: 0;
  font-size: var(--14px-V);
}
.userName-input:hover::placeholder {
    color: var(--Text-Color-Reverse);
    opacity: .5;
  }
  .userName-input::placeholder {
    color: var(--Text-Color-Grey);
  }
.Password-input {
  height: var(--30px-V);
  /* border-radius: var(--35px-V); */
  padding-left: var(--5px-V);
  width: var(--200px-V);
  margin-bottom: var(--13px-V);
  transition: all 0.5s;
  outline: none;
  position: relative;
  left: 0;
  font-size: var(--14px-V);
}
.userName-input:focus,
.Password-input:focus {
  width: var(--250px-V);
  position: relative;
}
.LoginButton {
  border-radius: var(--5px-V);
  
  width: var(--100px-V);
  font-size: var(--16px-V);
  font-family: 'Inter';
  font-weight: 400;
  transition: all 0.2s;
  border: var(--1px-V) solid #00e1ff;
  display: flex;
  justify-content: center;
  transition: all .2s;
}

.LoginButton:hover {
  flex: '2';
  border: var(--1px-V) solid #00e1ff;
  width: var(--115px-V); transition: all .2s;
}
.LoginButton:active {
  width: var(--105px-V);
  flex: '3';
  border: var(--2px-V) solid #00e1ff; transition: all .2s;
}
.UsernameMainContainer {
  position: relative;
  left: var(---13px-V);
  height: var(--44px-V);
}
.ShowHidePasswordButton {
  width: var(--25px-V);
  height: var(--23px-V);
  padding: var(--0px-V);
  z-index: 2;
  position: relative;

  right: var(--30px-V);

  border-radius: var(--35px-V);
}
.ShowHidePasswordImage {
  width: var(--20px-V);
  height: var(--20px-V);
  user-select: none;
}
.Icon-UsernameAndPassword {
  width: var(--40px-V);
  height: var(--40px-V);
  position: relative;
  right: var(--0px-V);
  margin-right: var(--5px-V);
  top: var(--17px-V);
}
.SignUp-Button {
  width: var(--300px-V);
  height: var(--50px-V);
  border-radius: var(--10px-V);
  font-size: larger;
}
.SignUpSettings-Continer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: var(--10px-V);
  height: var(--30px-V);
}
.SignUpSettings-input {
  height: var(--35px-V);
  width: var(--160px-V);
}
.SignUpSettings-logo {
  width: var(--50px-V);
  height: var(--50px-V);
  margin: var(--0px-V);
  border-radius: var(--5px-V);
}
.SignUpSettings-radio-container {
  display: flex;
  font-weight: 200;
  margin-bottom: var(--10px-V);
}
.SignUpSettings-radio {
  margin-left: var(--10px-V);
}
.forgotPasswordButton {
  background: transparent;
  color: black;
  margin-top: var(--14px-V);
  /* width: 100%; */
  text-align: left;
  border-bottom: var(--1px-V) solid #00e1ff;
  padding-bottom: var(--0px-V);
  margin-right: 50%;
  border-radius: var(--0px-V);
  padding: var(--0px-V);
}
.ResetPasswordsInput {
  margin-top: var(--10px-V);
  margin-bottom: var(--10px-V);
  height: var(--30px-V);
  width: var(--250px-V);
}
.SignUph1Text {
  font-size: var(--70px-V);
}
.SignUph2Text {
  margin-top: var(--20px-V);
  margin-bottom: var(--20px-V);
  font-size: var(--19_1px-V);
}
.SignUpInputsInfo {
  width: var(--284px-V);
  height: var(--35px-V);
}
.SignUpInputsInfoContianer {
  display: flex;
  flex-direction: row;
  margin-top: var(--10px-V);
  justify-content: center;
  align-items: center;
}
.SignUpErrorText {
  width: var(--300px-V);
  height: var(--5px-V);
  left: 0;

  font-size: var(--16px-V);
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
.LoginErrorText {
  margin-top: var(--10px-V);
  display: flex;
  align-items:center;
  justify-content: center;

}
.loginbuttonIcon {
  width: var(--30px-V);
  height: var(--30px-V);
  margin-left: var(--10px-V);
}
.Option-Buttons {
  width: var(--150px-V);
  height: var(--40px-V);
  font-size: var(--20px-V);
  margin: var(--20px-V);
  border: var(--1px-V) dashed #00e1ff;
  font-weight: 200;
  margin-bottom: var(--0px-V);
  font-family: inter;
  border-radius: var(--5px-V);
  transition: all 0.2s;
}
.Option-Buttons-Selected {
  width: var(--200px-V);
  height: var(--50px-V);
  font-size: var(--20px-V);
  margin: var(--20px-V);
  border: var(--1px-V) solid #00e1ff;
  font-weight: 300;
  font-family: inter;
  margin-bottom: var(--0px-V);
  border-radius: var(--5px-V);
  transition: all 0.2s;
}.Option-Info {
  font-size: var(--17px-V);
  text-align: center;
}
.inputF {
  height: var(--35px-V);

  /* border-radius: var(--35px-V); */
  padding-left: var(--5px-V);
  width: var(--200px-V);

  border: var(--1px-V) solid grey;
  transition: all 0.5s;
  outline: none;
  position: relative;
  left: 0;
  font-size: var(--16px-V);
}
.image-container-SignUp {
  display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: var(--16px-V);
}

.main-Container-signup {
  width: var(--603px-V);
  height: var(--809px-V);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: var(--5px-V);
  /* border: var(--1px-V) solid rgba(0, 0, 0, 0.192); */
  box-shadow: var(--5px-V) var(--5px-V) var(--5px-V) rgb(0, 0, 0);
  transform: scale(1);
  box-shadow: var(--0px-V) var(--4px-V) var(--4px-V) var(--0px-V) rgba(0, 0, 0, 0.25);
}
.SignUpSignOutTryAgainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--400px-V);
}
.SignUpSignOutTryAgain {
  margin: var(--10px-V);
  width: var(--100px-V);
  height: var(--40px-V);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--16px-V);
}
.SignUpSignOutTryAgainIcon {
  width: var(--30px-V);
  height: var(--30px-V);
  margin-left: var(--10px-V);
}
.SignOutButton {
  width: var(--150px-V);
  height: var(--40px-V);
  box-shadow: var(--0px-V) var(--4px-V) var(--4px-V) var(--0px-V) rgba(0, 0, 0, 0.25);

  margin: var(--0px-V);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--16px-V);
  transition: all 0.2s;
}

.signOutAndIfNot {
  
}
.signup-success-message-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-success-message {

  background: var(--Background-Color);
  box-shadow: var(--0px-V) var(--4px-V) var(--4px-V) var(--0px-V) rgba(0, 0, 0, 0.25);
  border-radius: var(--5px-V);
  z-index: -1;
}
.SignUpSignOutTryAgain:hover {
  width: var(--120px-V);
}
.SignUpSignOutTryAgain:active {
  width: var(--125px-V);
}



.inputmulticontainer {
  display: flex;
}
.inputcontainercontainer {
}

.AdminNormalText {
  text-align: center;
  margin: var(--00px-V);
}

.usernameandpassicon {
  width: var(--50px-V);
  height: var(--50px-V);
  margin-right: var(--10px-V);
  margin-left: var(--10px-V);
}
.gearicon {
  width: var(--20px-V);
  height: var(--20px-V);
  margin-right: var(--10px-V);
  margin-left: var(--10px-V);
}
.imageandinput {
  display: flex;
  align-items: center;
}
.SignUp-Button {
}
.threelettererrortext {
  font-size: var(--12px-V);
  position: relative;
  height: var(--0px-V);
  left: var(--70px-V);
  bottom: var(--20px-V);
  color: red;
  font-weight: 300;
}
.threelettererrortextusername {
  font-size: var(--12px-V);
  position: relative;
  height: var(--0px-V);
  left: var(---210px-V);
  bottom: var(--20px-V);
  color: red;
  font-weight: 300;
}

.EmailandPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
