.tools-page {
  max-width: var(--800px-V);
  margin: 0 auto;
  padding: var(--20px-V);
  color: var(--Text-Color);
  background-color: var(--Background-Color);
}

.email-template-container {
  background-color: var(--Secondary-Color30);
  border-radius: var(--8px-V);
  margin-bottom: var(--20px-V);
  overflow: hidden;
  box-shadow: 0 var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.1);
}

.email-template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--10px-V);
  background-color: var(--Secondary-Color30);
}

.email-template-header h3 {
  margin: 0;
  color: var(--Text-Color);
}

.email-template-buttons button {
  margin-left: var(--10px-V);
  padding: var(--5px-V) var(--10px-V);
  background-color: var(--Primary-Color);
  color: var(--Text-Color-Reverse);
  border: none;
  border-radius: var(--4px-V);
  cursor: pointer;
  transition: background-color 0.3s;  text-shadow: var(--2px-V) var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.5);
}

.email-template-buttons-button {
 
  background-color: var(--Primary-Color);
  color: var(--Text-Color-Reverse);
  border: none;
  border-radius: var(--4px-V);
  cursor: pointer;
  transition: background-color 0.3s;  text-shadow: var(--2px-V) var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.5);
}
.try-out-inputs{
  display: flex;
    flex-direction: column;
    height: var(--321px-V);
    flex-wrap: wrap
}
.email-template-buttons button:hover {
  background-color: var(--Primary-Color50);
}
.email-template-buttons-button:hover {
  background-color: var(--Primary-Color50);
}
.try-out-container-Opacity {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.email-template-content {
  display: flex;


}
.variables-buttons{
  display: flex;
  flex-direction: column;
}
.email-template-body {
  flex: 4;
  padding-right: var(--20px-V);
  padding-left: var(--15px-V);
  padding-bottom: var(--10px-V);
}

.email-template-variables {
  flex: 1;
  background-color: var(--Secondary-Color30);
  padding: var(--10px-V);
  border-radius: var(--4px-V);
}
.email-template-variables h4 {
  margin-top: var(--10px-V);
  margin-left: var(--10px-V);margin-bottom: var(--0px-V);
}

.email-template-variables ul {
  list-style-type: none;
  padding: 0;
}

.email-template-variables li {
  margin-bottom: var(--5px-V);
  font-family: monospace;
  background-color: var(--Secondary-Color30);
  padding: var(--2px-V) var(--5px-V);
  border-radius: var(--3px-V);
  color: var(--Text-Color);
}
.email-template-header input,
.email-template-body input,
.email-template-body textarea {
  width: 80%;
  padding: var(--5px-V);
 
  border: var(--1px-V) solid var(--Secondary-Color);
  background-color: var(--Background-Color);
  color: var(--Text-Color);
}
.email-template-body input {
  width: 80%;

}
.email-template-body textarea {
  min-height: var(--280px-V);
  resize: vertical;
  width: 100%;
  font-family: "inter";
}
.email-template-header input {
  width: 70%;
  margin-bottom: var(--0px-V);
  font-size: var(--18px-V);
  height: var(--26px-V);
}
.variable-highlight {
  background-color: var(--Secondary-Color30);
  text-shadow: var(--2px-V) var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.5);
  border-radius: var(--3px-V);
  font-weight: bold;
  color: var(--Primary-Color);
}

.try-out-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--717px-V);
  height: auto;
  max-height: 80vh;
  background-color: var(--Background-Color);
  padding: var(--20px-V);
  overflow-y: auto;
  z-index: 9999;
  border-radius: var(--10px-V);
  padding-top: var(--0px-V);
  border: var(--1px-V) solid grey;}

.try-out-preview {
  margin-bottom: var(--20px-V);
}

.variable-input {
  margin-bottom: var(--10px-V);
}

.variable-input label {
  
  margin-bottom: var(--5px-V);
}

.variable-input input {
  width: var(--168px-V);
  padding: var(--1px-V);
}
.try-out-container-input {
  width: var(--120px-V);
}
.expense-cards {
  width: 100%;
  border-collapse: collapse;
}
.expense-cards th {
  text-align: left;  
}
.expense-card {
  background-color: var(--Secondary-Color60);
  box-shadow: 0 var(--2px-V) var(--4px-V) rgba(0, 0, 0, 0.1);
  padding: var(--10px-V);
  border-radius: var(--10px-V);
  margin-top: var(--10px-V);
  margin-bottom: var(--10px-V);
  width: 100%;
  height: var(--50px-V);
}
.expense-card td {
  
  padding: var(--5px-V);
}
