:root {
  --Text-Color-Grey: #b4b4b4;
  --Text-Color: #ffffff;
  --Text-Color-Reverse50: rgba(255, 255, 255, 0.5);
  --Text-Color-Reverse: rgb(255, 255, 255);
  --Background-Color: #000000;
  --Background-Color2: #000000;
  --Primary-Color: #00e1ff;
  --Primary-Color25: hsla(187, 100%, 50%, 0.25);
  --Primary-Color50: hsla(187, 100%, 50%, 0.5);
  --Secondary-Color: #454959;
  --Secondary-Color20: hsla(228, 14%, 31%, 0.2);
  --Secondary-Color30: hsla(228, 14%, 31%, 0.3);
  --Secondary-Color40: hsla(228, 14%, 31%, 0.4);
  --Secondary-Color50: hsla(228, 14%, 31%, 0.5);
  --Secondary-Color60: hsla(228, 14%, 31%, 0.6);
  --Accent-Color: #ff9d00;
  --Accent-Color50: hsla(37, 79%, 48%, 0.5);
  --primary: var(--Primary-Color);
  --secondary: var(--Secondary-Color);
  --background: var(--Background-Color);
  --accent: var(--Accent-Color);
  --white: var(--Text-Color);
} 