/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: black;
  height: 100vh;
  /*background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );*/

  font-family: sans-serif;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
  background: #222324;
}
button {

  border-radius: 5px;
  padding: 5px;
  background-color: #454959;
color: white;
  border: .5px solid white;
  margin: 0px;
  transition: all .2s;
}

button:hover {
  transform: scale(1.05);
  border: .5px solid black;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}
p {
  margin: 0px;
}
a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  overflow: hidden;
}

#root {
  height: 100%;
}
::-webkit-scrollbar {
  background-color: var(--scrollbar-background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
  transition: all 1s;
  border: 1px solid #00e1ff;
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
  border-radius: 5px;
  transition: all 1s;
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-active);
  border-radius: 5px;
  transition: all 1s;
  border: 1px solid #00e1ff;
}