:root {
  --Text-Color-Grey: rgb(128, 128, 128);
  --Text-Color: rgb(255, 255, 255);
  --Text-Color-Reverse: rgb(0, 0, 0);
  --Background-Color: #2e2f30;

  --Primary-Color: #00e1ff;
  --Primary-Color25: hsl(187, 100%, 50%, 50%);
  --Primary-Color50: hsl(187, 100%, 50%, 50%);

  --Secondary-Color: #454959;
  --Secondary-Color20: hsl(228, 13%, 31%, 20%);
  --Secondary-Color30: hsl(228, 13%, 31%, 30%);
  --Secondary-Color60: hsl(228, 13%, 31%, 60%);

  --Accent-Color: #e59b25;
  --Accent-Color50: hsl(37, 79%, 52%, 50%);
}
.DarkTheme {
  --Text-Color-Grey: rgb(128, 128, 128);
  --Text-Color: #000000;
  --Text-Color-Reverse: rgb(255, 255, 255);
  --Background-Color: #d0d1d2;

  --Primary-Color: #00e1ff;
  --Primary-Color25: hsl(187, 100%, 50%, 25%);
  --Primary-Color50: hsl(187, 100%, 50%, 50%);

  --Secondary-Color: #a6aaba;
  --Secondary-Color20: hsl(228, 13%, 69%, 20%);
  --Secondary-Color30: hsl(228, 13%, 69%, 30%);
  --Secondary-Color60: hsl(228, 13%, 69%, 60%);

  --Accent-Color: #db911a;
  --Accent-Color50: hsl(37, 79%, 48%, 50%);

  --Static11: hsl(225, 7.1%, 78%);
}
.GreyTheme {
  --Text-Color-Grey: rgb(128, 128, 128);
  --Text-Color: rgb(0, 0, 0);
  --Text-Color-Reverse: rgb(153, 153, 153);
  --Background-Color: #414141;

  --Primary-Color: #00c6e0;
  --Primary-Color25: hsl(187, 100%, 43%, 37%);
  --Primary-Color50: hsl(187, 100%, 43%, 50%);

  --Secondary-Color: #b3b3b3;
  --Secondary-Color20: hsl(228, 13%, 55%, 20%);
  --Secondary-Color30: hsl(228, 13%, 55%, 30%);

  --Accent-Color: #d89a1f;
  --Accent-Color50: hsl(37, 79%, 49%, 50%);

  --Static11: hsl(225, 7.1%, 72%);
  --Text-Color-Grey: rgb(128, 128, 128);
  --Text-Color: #000000;
  --Text-Color-Reverse: rgb(255, 255, 255);
  --Background-Color: #d0d1d2;

  --Primary-Color: #00e1ff;
  --Primary-Color25: hsl(187, 100%, 50%, 25%);
  --Primary-Color50: hsl(187, 100%, 50%, 50%);

  --Secondary-Color: #a6aaba;
  --Secondary-Color20: hsl(228, 13%, 69%, 20%);
  --Secondary-Color30: hsl(228, 13%, 69%, 30%);

  --Accent-Color: #db911a;
  --Accent-Color50: hsl(37, 79%, 48%, 50%);

  --Static11: hsl(225, 7.1%, 78%);
}
body {
  position: relative;
  color: var(--Text-Color);
  height: 100vh;

  font-family: sans-serif;
  overflow-y: hidden;
  padding: 0px;
  margin: 0px;
  background: var(--Background-Color);
}

button {
  border-radius: 5px;
  padding: 5px;
  background-color: var(--Secondary-Color);
  color: var(--Text-Color);
  border: none;
  margin: 0px;
  font-family: 'Inter';
  transition: all 0.2s;
}
button:hover {
  background-color: var(--Primary-Color50);
  color: var(--Text-Color-Reverse);

  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}
select,
input {
  background-color: var(--Secondary-Color);
  color: var(--Text-Color);
  border: 1px solid grey;
  border-radius: 5px;
  font-family: 'Inter';
}
input:hover {
  background-color: var(--Primary-Color50);
  color: var(--Text-Color-Reverse);
}
select:hover {
  background-color: var(--Primary-Color50);
  color: var(--Text-Color-Reverse);
}
* {
  font-family: 'inter';
}
h1,
h2,
h3 {
  font-weight: 300;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}
p {
  margin: 0px;
  font-family: 'Inter';
}
a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  overflow: hidden;
}

#root {
  height: 100%;
}
::-webkit-scrollbar {
  background-color: var(--Secondary-Color20);
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Secondary-Color);
  border-radius: 5px;
  transition: all 1s;

}

::-webkit-scrollbar-corner {
  background-color: blue;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--Primary-Color50);
  border-radius: 5px;
  transition: all 1s;

}
em {
  font-weight: 200;
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--Primary-Color);
  border-radius: 5px;
  transition: all 1s;
  border: 1px solid var(--Primary-Color);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:start:decrement:hover,
::-webkit-scrollbar-button:vertical:end:increment:hover,
::-webkit-scrollbar-button:horizontal:start:decrement:hover,
::-webkit-scrollbar-button:horizontal:end:increment:hover {
  display: none;
}

.InfoTable {
  border-radius: 10px;
  border: 1px solid grey;
  border-collapse: collapse;
}
.InfoTableThead {
  background-color: var(--Secondary-Color);
}

.InfoTableHeadTR {
  background-color: var(--Secondary-Color);
  height: 40px;
}
.InfoTableHeadTh {
  font-size: 16px;
  padding: 10px;
}
.InfoTableBodyTD {
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  height: 100%;

  justify-content: center;
  align-items: center;
}
.InfoTableBodyTr {
  height: 30px;
  border-bottom: 1px solid grey;
  border-radius: 5px;
}
.PhoneNumberInfoTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.EmailInfoTable {
  color: grey;
  font-size: 11px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
